@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Light'), local('Lato-Light'), url('http://www.freeclan.net/tyrantax/font/lato400.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('http://www.freeclan.net/tyrantax/font/lato900.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('http://www.freeclan.net/tyrantax/font/lato400i.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('http://www.freeclan.net/tyrantax/font/lato900i.woff') format('woff');
}
@font-face {
  font-family: 'chaka';
  font-style: normal;
  font-weight: 900;
  src: local('chaka Regular'),
  local('chaka'),
  url('http://www.freeclan.net/tyrantax/font/chakashoujin.woff') format('woff'),
  url('http://www.freeclan.net/tyrantax/font/chakashoujin.ttf') format('truetype');
}