/*------------------------------------*\
    #PARAGRAPH
\*------------------------------------*/

p {
  font-family: $ft-fm-p;
  font-size: $ft-sz-def;
  font-weight:$ft-wt-bold;
  line-height: 1.8em;
  margin: 1em 0;
  color: $clr-def-darker;
}

.cn p {
  text-indent: 2em;

  &.no-indent {
    text-indent: 0;
  }
}



.demo {
  width: 100%;
  height: 360px;
}
