
            <div class="center">
                {% assign tagStr = "" %}
                {% for post in site.posts %}
                {% if post.hide != true %}
                {%for tag in post.tags %}
                {% capture tagStr %}
                {{tagStr}},[{{tag}}]
                {% endcapture %}
                {% endfor %}
                {% endif%}
                {% endfor%}
                {% assign tagStr = tagStr | remove_first:',' %}
                {% assign tagArr = tagStr | split: ',' %}
                {% assign tagUniqArr = tagStr | split:',' | uniq %}
                {% for uniqTag in tagUniqArr %}
                {% assign counter = 0 %}
                {% for  tag in tagArr %}
                {% if uniqTag == tag %}
                {% assign counter = counter | plus:1 %}
                {% endif %}
                {% endfor %}
                {% assign curTag = uniqTag | remove_first:'[' | remove_first:']' %}
                <a class="tape" href="{{ site.url }}/all?tag={{curTag}}" onclick="_gaq.push(['_trackEvent', '{{curTag}}', 'InNav', window.location.pathname]);">{{curTag}}<span style="color: rgba(255, 136, 136, 0.96);">{{counter}}</span></a>
                {% endfor %}
            </div>

            <div id="footer-nav">
                | <a href="#">Top</a> | 
                <a href="{{ site.url }}">Blog</a> | 
                <a href="http://www.freeclan.net">FreeClan</a> |

            </div>
            
            <div id="footer-follow" style="margin-left: auto;margin-right:auto;text-align: center">
                <a class="footer-follow-element footer-follow-facebook" href="https://www.facebook.com/ysk.tyrant" target="_blank" title="Follow me on Twitter" onclick="_gaq.push(['_trackEvent', 'Follow', 'Twitter', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-github" href="https://github.com/Sakilove" target="_blank" title="Follow me on GitHub" onclick="_gaq.push(['_trackEvent', 'Follow', 'GitHub', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-so" href="http://stackoverflow.com/users/6060015/ysk-tyranta-x" target="_blank" title="Follow me on StackOverflow" onclick="_gaq.push(['_trackEvent', 'Follow', 'StackOverflow', 'Footer']);"></a>
                <a class="footer-follow-element footer-follow-douban" href="https://www.douban.com/people/tyrantax/" target="_blank" title="Follow me on Douban" onclick="_gaq.push(['_trackEvent', 'Follow', 'Douban', 'Footer']);"></a>
            </div>
        </div>
        
        <div id="footerDiv">
            <div id="footerImg"></div>
            <div id="footerCnt">
                <div id="footer">
                </div>
            </div>
        </div>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            
        <script type="text/javascript" src="/tyrantax/js/lazyLoad.js"></script>
        <script type="text/javascript" src="/tyrantax/js/common.min.js"></script>
    </body>
</html>
